<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="FastAPIHttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Users\Abhedaya\CO2Prediction\env\Scripts\python.exe"
            arguments="-m uvicorn --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% main:app"
            stdoutLogEnabled="true" 
            stdoutLogFile="C:\Users\Abhedaya\CO2Prediction\logs\python.log" 
            startupTimeLimit="120" 
            requestTimeout="00:05:00">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="C:\Users\Abhedaya\CO2Prediction" />
            </environmentVariables>
        </httpPlatform>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
